@import "compass/typography/lists/horizontal-list";

/*************************/
/* Menu styles - DNNMenu */
/*************************/

#nav ul.mainMenu {
	@include horizontal-list-container;
	> li.root {
		@include horizontal-list-item(false);
		border-left: $boxBorderWidth solid rgb(0,0,0);
	}
	> li.root.first {
		border: none;
	}
	img {
		display: none;
	}
	.m0 {
	}
	a {
		padding: (4em/12) (8em/12);
		color: rgb(0,0,0);
		text-decoration: none;
		&:link, &:visited {
			color: rgb(0,0,0);
		}
		&:hover, &:active {
			color: $bodyTextColor;
		}
	}
	.mi.root {
		padding: (4em/12) 0;
	}
	.m {
		background-color: rgba(255,231,140,0.9);
		color: $bodyBackgroundColor;
		z-index: 10000;
		.mi {
			padding: (4em/12) 0;
		}
	}
	.bc.root a {
		color: rgb(255,231,140);
	}
	.root.hov {
		background-color: rgba(0,0,0,0.25);
	}
	.m .hov {
		background-color: rgba(0,0,0,0.50);
	}
}
