
$bodyBackgroundColor: rgba(0,0,0,1.0);
$bodyTextColor: rgba(255,231,140,1.0);
$fontHeight: 12px;
$unitlessFontHeight: 12;
$fullUnit: 1em;
$fullWidth: $fullUnit * (900 / $unitlessFontHeight);
$fullHeight: $fullUnit * (665 / $unitlessFontHeight);
$navBarHeight: $fullUnit * (49 / $unitlessFontHeight);
$navBarTop: $fullUnit * (35 / $unitlessFontHeight);
$menuBottomClear: $fullUnit * (8 / $unitlessFontHeight);
$headerHeight: $navBarHeight + $navBarTop;
$boxHeight: $fullUnit * (209 / $unitlessFontHeight);
$boxWidth: $fullUnit * (108 / $unitlessFontHeight);
$boxBorderWidth: $fullUnit * (1 / $unitlessFontHeight);
$boxBorderRadius: $fullUnit * (10 / $unitlessFontHeight);
$boxBorderColor: rgba(255,231,140,1.0);
$logoBoxLeft: $fullUnit * (25 / $unitlessFontHeight);
$logoBoxTop: $fullUnit * (24 / $unitlessFontHeight);
$logoBoxClear: $fullUnit * (144 / $unitlessFontHeight);
$logoBoxFontHeight: $fullUnit * (14 / $unitlessFontHeight);
$fontSizeChangeAdjustment: $fullUnit / $logoBoxFontHeight;
$logoTopPosition: $fullUnit * (10 / $unitlessFontHeight);
$logoLeftPosition: $fullUnit * (13 / $unitlessFontHeight);
$nameTopClear: $fullUnit * (8 / $unitlessFontHeight);
$dateTopClear: $fullUnit * (6 / $unitlessFontHeight);
$issueBottomPosition: $fullUnit * (12 / $unitlessFontHeight);
$issueRightPosition: $fullUnit * (10 / $unitlessFontHeight);
$fortyfivePctColor:rgba(255,231,140,0.45);
$transparentColor: rgba(255,231,140,0);
$seventyninePctColor: rgba(255,231,140,0.79);
$seventysevenPctColor: rgba(255,231,140,0.77);
$seventyPctColor: rgba(255,231,140,0.7);
$sixtythreePctColor: rgba(255,231,140,0.63);
$fiftyPctColor: rgba(255,231,140,0.5);
$seventeenPctColor: rgba(255,231,140,0.17);
$sixPctColor: rgba(255,231,140,0.06);
$listItemClear: $fullUnit * (10 / $unitlessFontHeight);
$footerHeight: $fullUnit * (20 / $unitlessFontHeight);
$textRightPosition: $logoBoxLeft + $logoLeftPosition;
$contentPaneTopClear: $fullUnit * (1 / $unitlessFontHeight);
$contentPaneLeftClear: $fullUnit * (3 / $unitlessFontHeight);
$contentPaneHeight: $fullHeight - ($headerHeight + $contentPaneTopClear) - ($footerHeight + $fullUnit);
$contentPaneWidth: $fullWidth - 2 * ($logoBoxLeft + $boxWidth + (2 * $boxBorderWidth) + $contentPaneLeftClear);
$zeroPosition: 0;
