/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */

#main {
	background-image: image-url("bgiie.png");
}
#nav {
  background-image: image-url("mainmenu.png");
}
#contentpane {
  background-image: image-url("contentpane.png");
  background-attachment: scroll;
  background-position: 0 0;
  background-repeat: repeat-x;
}
